body {
	font-family: sans-serif;
}

/* Layout */
main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

nav {
	display: block;
	text-align: center;
	margin-bottom: 8px;
}

/* Sections */
#controls {
	margin-bottom: 8px;
}

#metadata {
	position: absolute;
	z-index: 1000;
	margin-top: 44px;
	padding: 8px;
	background-color: #fff;
}

/* Map icons */
.map-icon {
	background: transparent;
}
